*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primarylight: rgb(255, 253, 253);
$primaryred: #d82c20;
$primaryyellow: black;
$primarydark: rgb(168, 168, 168);
$primarygray: rgb(53, 53, 53);
$secondarygray: rgba(128, 128, 128, 0.3);
$secondaryred: rgb(191, 96, 107);
$s: rgba(191, 96, 107, 0.518);

$primaryfont: 'hero-new', 'Open Sans';
$secondaryfont:  'hero-new', 'Open Sans';
$thirdfont: 'quasimoda', 'Open Sans';

$bodycolor: $primarylight;

$prime_header_color: $primarylight;
$navcolor: $primarylight;

$sub_header_color: $primarylight;
$sub_header_opening_color: $secondaryred;
$text_color: white;
$sub_header_background_color: white;

$footercolor: $primaryred;

$dropdown_color: $secondaryred;
$dropdown_text_color: $primarylight;

$button1_color: $secondaryred;
$button1_font_color: $primarylight;
$button_hover_color: $primaryred;

$submit_button_color: $primaryred;
$submit_hover_button_color: $primaryred;


$list_fa: $primaryred;
$list_header_color: $primaryred;
$list_text_color: white;
$list_header_border: $secondaryred;
$list_text_background_color: $secondaryred;
$list_text_border_color: white;
$third_header_font_color: rgb(0, 0, 0);

$third_header_color: $primarylight;

$socials_fa: $primarylight;
$socials_background_color: $secondaryred;
$socials_border_color: $primarylight;
$text_background_color: $secondaryred;


$dropdown_container_border: white;

$prime_header_font: $primaryfont;


$sub_header_font: $primaryfont;


$button1_font: $primaryfont;
$button2_font: $primaryfont;


$nav_font: $primaryfont;

$text_font: $secondaryfont;

$text_size: 18px;

$dropdown_text: $primaryfont;
$dropdown_text_size: 1.4rem;



$list_header_font: $primaryfont;

$list_text_font: $secondaryfont;

$third_header_font: $primaryfont;



a {
  text-decoration: none;
  color: $prime_header_color;
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.738);
  opacity: 1; /* Firefox */
}

$prime_header_font_size: 3rem;
$third_header_font_size: 2rem;
$list_text_font_size: 1rem;
$list_header_font_size: 1.25rem;
$button1_font_size: 2rem;
$sub_header_font_size: 1.4rem;
$text_size: 1rem;